[submodule "Libraries/DigitalCert"]
	path = Libraries/DigitalCert
	url = https://github.com/NilsSve/Library-DigitalCert.git
[submodule "Libraries/Filesystem"]
	path = Libraries/Filesystem
	url = https://github.com/NilsSve/Library-cFilesystem.git
[submodule "Libraries/DFAbout"]
	path = Libraries/DFAbout
	url = https://github.com/NilsSve/Library-DFAbout.git
[submodule "Libraries/RDCToolsLib"]
	path = Libraries/RDCToolsLib
	url = https://github.com/NilsSve/Library-RDCToolsLib.git
[submodule "Libraries/vwin32fh"]
	path = Libraries/vwin32fh
	url = https://github.com/NilsSve/Library-vwin32fh.git
